/* custom variables and global styles */
* {
    --transition-button-duration: 600ms;
    --transition-button-style: cubic-bezier(.5, 0, .25, 1);
}

.link_component .line-horizontal {
    background-color: currentColor;
}

.work-item_link, .blog_item-link {
    display: block;
}

.preloader_component {
    display: flex;
}

/* custom variables and global styles */

/* lenis and split-type styles */
html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

/* lenis and split-type styles */


/* button hover styles */
.button .icon-star {
    transition: transform var(--transition-button-duration) var(--transition-button-style);
}

.button .line-horizontal.is-button-black {
    transition: transform var(--transition-button-duration) var(--transition-button-style);
}

.button:hover .icon-star:first-child {
    transform: rotateZ(-180deg) scale(1.2);
}

.button:hover .icon-star:last-child {
    transform: rotateZ(180deg) scale(1.2);
}

.button:hover .line-horizontal.is-button-black {
    transform: scaleX(1);
}
/* button hover styles */


/* FAQ styles */

.dropdown_component h3, .discover_item h1 {
    transition: opacity 400ms ease;
}
.dropdown_component:hover h3, .discover_item:hover h1 {
    opacity: 0.8;
}

.discover_item .icon-star {
    transition: opacity 400ms ease
}

.discover_item:hover .icon-star {
    opacity: .8;

}

/* FAQ styles */


/* Footer card styles */

.center-card_button_line {
    background-color: currentColor;
    transition: transform 300ms var(--transition-button-style);
}

.center-card_button {
    transition: color 300ms var(--transition-button-style);
}

.center-card_component:hover .center-card_button {
    color: var(--text-color--text-primary);
}

.center-card_component:hover .center-card_button_line {
    transform: scaleX(1);
}

/* Footer card styles */


/* Work and article hover styles */

.work-item_component.is-next-project .heading-size-small,
.blog_item h1 {
    transition: text-decoration-color 250ms ease-out, color 250ms ease-out;
    transition-delay: 250ms;
    text-decoration: underline;
    text-underline-offset: 0.2em;
    text-decoration-thickness: .085em;
    text-decoration-color: transparent;
}

.work-item_component.is-next-project .heading-size-small {
    transition-delay: 0ms!important;
}

.work-item_component.is-next-project:hover .heading-size-small,
.blog_item:hover h1 {
    text-decoration-color: var(--text-color--text-grey-medium);
}

/* Work and article hover styles */


/* nav_open-link is current page */ 

.nav_open-link-wrap.w--current .nav_open-link {
    color: var(--text-color--text-primary)!important;
}

.nav_open-link-wrap.w--current .line-horizontal {
    transform: scale(1, 1)!important;
}

/* nav_open-link is current page */